<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,322},{112,130}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,84},{112,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{112,152}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,72},{112,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{68,166}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,82},{68,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>youshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,170},{98,150}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,81},{98,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>youxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,166}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,78},{102,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{64,132}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,81},{64,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zuoshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{98,136}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,80},{98,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zuoxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{114,138}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,76},{114,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wujiang.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0e6286cdc478d7d38104489b3b21cd7:345bdd3b0de540e6747389cd0858dca7:60fc3219eb31e296553fb9d86258d0d9$</string>
            <key>textureFileName</key>
            <string>wujiang.png</string>
        </dict>
    </dict>
</plist>
